<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Genres', genres_path %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    <%= link_to @genre.name, genre_path(@genre) %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    Edit Genre
  </div>
</div>

<h1>Update Genre</h1>

<div class="form">
  <%= form_with model: @genre do |f| %>
    <div class="form__el">
      <%= f.label(:name, 'Name') %>
      <%= f.text_field :name %>
    </div>
    <div class="form__el--submit">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
