<h1>New Genre</h1>

<%= form_with model: @genre do |f| %>
  <p>
    <%= f.label(:name, "Name") %> <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
  <%= link_to 'Back to Genres', genres_path %>
</p>
