<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Genres', genres_path %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    <%= @genre.name %>
  </div>
</div>

<h1><%= @genre.name %></h1>

<div class="center-wrapper">
  <ul class="action-list">
    <li class="action-list__el">
      <%= 
        link_to(
          '️✏️️️', edit_genre_path(@genre),
          class: 'icon--small symbol block-link'
        )
      %>
      <div class="icon-text--small">
        <%= link_to "Edit", edit_genre_path(@genre) %>
      </div>
    </li>
  </ul>
  <% if @games.length > 0 %>
    <div class="game-index-count">
      <%= @game_count %>
      Game<%= 's' if @game_count > 1 %><%= ", page #{@page + 1}" if @page_count > 1 %>
    </div>
    <ul class="game-index-list">
      <% @games.each do |game| %>
        <% 
          score_color = (
            ('gray' unless game.score) ||
            ('red' if game.score < 50) || 
            ('yellow' if game.score < 75) || 
            'green'
          )
          image_folder = game.id / 1000
        %>
        <li class="game-index-list__el">
          <div class="game-index-list__el__image-wrapper">
            <%= image_tag("/images/games/#{image_folder}/#{game.id}.jpg") %>
          </div>
          <div class="game-index-list__el__title-wrapper">
            <div class="game-index-list__el__title">
              <%= link_to game.title, game_path(game) %>
            </div>
            <div class="game-index-list__el__platform">
              <%=
                image_tag("/images/platform_logos/#{game.platform.id}.jpg")
              %>
              <%= link_to game.platform.name, platform_path(game.platform) %>
            </div>
            <div class="game-index-list__el__publisher">
              <%= link_to game.publisher.name, publisher_path(game.publisher) %>
            </div>
            <div class="game-index-list__el__date">
              <%= game.release_date.strftime('%A, %-d %B %Y') %>
              <%= '?' unless game.is_date_confirmed %>
            </div>
            <div class="game-index-list__el__badges">
              <% game.badges.each do |badge| %>
                <%=
                  link_to(
                    badge.symbol, badge_path(badge), class: 'symbol', 
                    title: badge.name
                  )
                %>
              <% end %>
            </div>
          </div>
          <div class="game-index-list__el__rating-wrapper">
            <span class="game-index-list__el__rating score <%= score_color %>">
              <%= ((game.score if game.score) || 'N/A') %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
    <% if @page_count > 1 %>
      <div class="page-list-wrapper">
        <div class="page-list-title">Pages</div>
        <ol class="page-list">
          <% @page_count.times do |p| %>
            <li class="page-list__el">
              <% if @page != p %>
                <%= link_to p + 1, genre_path(@genre, page: p) %>
              <% else %>
                <b><%= p + 1 %></b>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>

  <% else %>
    <p>There are no games in this genre.</p>
  <% end %>
</div>

<%= link_to '+', new_genre_path, class: 'create-button' %>