<h1><%= @year %> Games</h1>
<p>
  <% if @weeks.length > 0 %>
    Weeks: <br />
    <% @weeks.each do |week| %>
      <%= link_to "Week #{week}", games_path(year: @year, week: week) %><br />
    <% end %>
  <% else %>
    There are no games this year.
  <% end %>
</p>

<p>
  <%= link_to 'Create New', new_game_path %>
</p>
<p>
  <%= link_to 'Prev Year', weeks_path(year: @year - 1) %><br />
  <%= link_to 'Next Year', weeks_path(year: @year + 1) %><br />
  <%= link_to 'Back to Years', years_path %><br />
  <%= link_to 'Back to Home', root_path %>
</p>
