<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Platforms', platforms_path %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    <%= link_to @platform.name, platform_path(@platform) %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    Edit
  </div>
</div>

<h1>Update Platform</h1>

<div class="form">
  <%= form_with model: @platform do |f| %>
    <div class="form__el">
      <%= f.label(:name, "Name") %> <br />
      <%= f.text_field :name %>
    </div>
    <div class="form__el">
      <%= f.label(:release_date, "Release Date") %> <br />
      <%= f.date_field :release_date %>
    </div>
    <div class="form__el">
      <%= f.label(:publisher_id, "Publisher") %> <br />
      <%= f.collection_select(:publisher_id, Publisher.select(:id, :name).order(:name).all, :id, :name) %>
    </div>
    <div class="form__el--submit">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
