<p>
  <%= image_tag("/images/platforms/#{@platform.id}.jpg", class: 'platform') %>
</p>
<h1> <%= @platform.name %> </h1>
<table>
  <tbody>
    <tr>
      <th scope="row">Release Date</th>
      <td><%= @platform.release_date.strftime('%-d %B %Y') %></td>
    </tr>
    <tr>
      <th scope="row">Publisher</th>
      <td><%= @platform.publisher.name %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Back to Platforms", platforms_path %>
</p>
