<p>
  <%= image_tag("/images/platforms/#{@platform.id}.jpg", class: 'platform') %>
</p>
<h1> <%= @platform.name %> </h1>
<table class="details">
  <tbody>
    <tr>
      <th scope="row">Release Date</th>
      <td>
        <%= link_to @platform.release_date.strftime('%-d %B %Y'),
                    games_path(year: @platform.release_date.cwyear, week: @platform.release_date.cweek) %>
      </td>
    </tr>
    <tr>
      <th scope="row">Publisher</th>
      <td>
        <%= link_to @platform.publisher.name, publisher_path(@platform.publisher) %>
      </td>
    </tr>
  </tbody>
</table>

<p>
  Top 10 Games
</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <% score_color = (('gray' unless game.score) || ('red' if game.score < 50) || ('yellow' if game.score < 75) || 'green') %>
      <tr>
        <td><%= link_to game.title, game_path(game), class: 'title' %></td>
        <td><%= game.release_date.strftime('%A, %-d %B %Y') %></td>
        <%= tag.td ((game.score if game.score) || 'N/A'), class: "score #{score_color}" %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Platforms", platforms_path %><br />
  <%= link_to "Home", root_path %>
</p>
