<p>
  <%= image_tag("/images/platforms/#{@platform.id}.jpg", class: 'platform') %>
</p>
<h1> <%= @platform.name %> </h1>
<table>
  <tbody>
    <tr>
      <th scope="row">Release Date</th>
      <td>
        <%= link_to @platform.release_date.strftime('%-d %B %Y'),
                    games_path(year: @platform.release_date.cwyear, week: @platform.release_date.cweek) %>
      </td>
    </tr>
    <tr>
      <th scope="row">Publisher</th>
      <td>
        <%= link_to @platform.publisher.name, publisher_path(@platform.publisher) %>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Back to Platforms", platforms_path %>
</p>
