<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Badges', badge_years_path %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    <%= @year %>
  </div>
</div>

<h1><%= @year %> Badges</h1>

<% if @badges.length > 0 %>
  <ol class="game-show-badge-list">
    <% @badges.each do |badge| %>
      <li class="game-show-badge-list__el">
        <%= 
          link_to(
            badge.symbol, badge_path(badge),
            class: 'icon symbol block-link'
          )
        %>
        <div class="icon-text">
          <%= link_to badge.name, badge_path(badge) %>
        </div>
      </li>
    <% end %>
  </ol>
<% end %>

<%= link_to '+', new_badge_path, class: 'create-button' %>
