<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Publishers', publishers_path %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    <%= link_to @publisher.name, publisher_path(@publisher) %>
  </div>
  <div class="breadcrumb__el">
    Edit
  </div>
</div>
<h1>Update Publisher</h1>

<div class="form">
  <%= form_with model: @publisher do |f| %>
    <div class="form__el">
      <%= f.label(:name, "Name") %>
      <%= f.text_field :name %>
    </div>
    <div class="form__el--submit">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>