<h1>New Publisher</h1>

<%= form_with model: @publisher do |f| %>
  <p>
    <%= f.label(:name, "Name") %> <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
  <%= link_to 'Back to Publishers', publishers_path %>
</p>
