<h1>Games</h1>

<% if @week_start %>
  <p>
    <%= @week_start.strftime('Week %V, %G') %><br />
    <%= @week_start.strftime('%-d %B %Y') %> - <%= (@week_start + 6.days).strftime('%-d %B %Y') %>
  </p>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Release Date</th>
        <th>Score</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <% score_color = (('gray' unless game.score) || ('red' if game.score < 50) || ('yellow' if game.score < 75) || 'green') %>
        <tr>
          <td><%= game.title %></td>
          <td><%= game.platform.name %></td>
          <td><%= game.release_date.strftime('%-d %B %Y') %></td>
          <%= tag.td game.score, class: "score #{score_color}" %>
          <td>
            <%= link_to 'Detail', game_path(game) %><br />
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>All Games</p>
  <p>
    Weeks: <br />
    <% @weeks.each do |week| %>
      <%= link_to week, games_path(week: week.split.reverse.join) %><br />
    <% end %>
  </p>
<% end %>
<p>
  <%= link_to 'Create New', new_game_path %><br />
</p>
<p>
  <% if @week_start %>
    <%= link_to 'Back to All Games', games_path %><br />
  <% end %>
  <%= link_to 'Back to Home', root_path %>
</p>
