<h1>Games</h1>
<p>
  <span class="symbol">➕</span> <%= link_to 'Create New', new_game_path %> </br />
  <span class="symbol">⬅️</span>
  <%= link_to 'Prev Week', games_path(week: @prev_week.cweek, year: @prev_week.cwyear) %>
  |
  <%= link_to 'Next Week', games_path(week: @next_week.cweek, year: @next_week.cwyear) %>
  <span class="symbol">➡️</span><br />
</p>
<p>
  <%= @week_start.strftime('Week %V, %G') %><br />
  <%= @week_start.strftime('%-d %B %Y') %> - <%= (@week_start + 6.days).strftime('%-d %B %Y') %>
</p>
  <p><%= @games.length %> Games</p>
<% if @games.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Release Date</th>
        <th>Score</th>
        <th class="symbol">🎖️</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <% score_color = (('gray' unless game.score) || ('red' if game.score < 50) || ('yellow' if game.score < 75) || 'green') %>
        <tr>
          <td><%= link_to game.title, game_path(game), class: 'title' %></td>
          <td><%= link_to game.platform.name, platform_path(game.platform) %></td>
          <td>
            <%= game.release_date.strftime('%A, %-d %B %Y') %>
            <%= '?' unless game.is_date_confirmed %>
          </td>
          <%= tag.td ((game.score if game.score) || 'N/A'), class: "score #{score_color}" %>
          <td>
            <% game.badges.each do |badge| %>
                <%= link_to badge.symbol, badge_path(badge), class: 'symbol', title: badge.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no games released this week.</p>
<% end %>
<p>
  <%= link_to "#{@week_start.cwyear}", weeks_path(year: @week_start.cwyear) %><br />
  <%= link_to "Years", years_path %><br />
  <%= link_to "Home", root_path %><br />
  <%= link_to "Search", search_path %>
</p>
