<h1>New Game</h1>

<%= form_with model: @game do |f| %>
  <p>
    <%= f.label(:title, "Title") %> <br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label(:platform_id, "Platform") %> <br />
    <%= f.collection_select(:platform_id, Platform.select(:id, :name).order(:name).all, :id, :name) %>
  </p>
  <p>
    <%= f.check_box :is_date_confirmed %>
    <%= f.label(:is_date_confirmed, "Release Date Confirmed") %>
  </p>
  <p>
    <%= f.label(:is_date_confirmed, "Release Date Confirmed?") %>
    <%= f.check_box :is_date_confirmed %>
  </p>
  <p>
    <%= f.label(:publisher_id, "Publisher") %> <br />
    <%= f.collection_select(:publisher_id, Publisher.select(:id, :name).order(:name).all, :id, :name) %>
  </p>
  <p>
    <%= f.label(:genre_id, "Genre") %> <br />
    <%= f.collection_select(:genre_id, Genre.select(:id, :name).order(:path).all, :id, :name) %>
  </p>
  <p>
    <%= f.label(:esrb_rating_id, "ESRB Rating") %> <br />
    <%= f.collection_select(:esrb_rating_id, EsrbRating.select(:id, :name).order(:name).all, :id, :name) %>
  </p>
  <p>
    <%= f.label(:score, "Score") %> <br />
    <%= f.number_field(:score, in: 0..100) %>
  </p>
  <p>
    <%= f.label(:remarks, "Remarks") %> <br />
    <%= f.text_area(:remarks, rows: 10, cols: 60) %>
  </p>
  <p>
    <%= f.label(:video_link, "Video Link") %> <br />
    <%= f.text_field :video_link %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
  <%= link_to 'Back to All Games', years_path %><br />
</p>
