<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Franchises', franchises_path %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    <%= link_to @franchise.name, franchise_path(@franchise) %>
  </div>
  <div class="breadcrumb__sep">></div>
  <div class="breadcrumb__el">
    Edit Franchise
  </div>
</div>

<h1>Update Franchise</h1>

<div class="form">
  <%= form_with model: @franchise do |f| %>
    <div class="form__el">
      <%= f.label(:name, 'Name') %>
      <%= f.text_field :name %>
    </div>
    <div class="form__el--submit">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
