<div class="menu-wrapper">
  <div class="menu-nav">
    <%= link_to 'Games', years_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'Platforms', platforms_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'Publishers', publishers_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'Genres', genres_path %>
  </div>
  <div class="menu-name">
    <%= link_to 'Ludus', root_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'Franchises', franchises_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'Badges', badge_years_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'ESRB Ratings', esrb_ratings_path %>
  </div>
  <div class="menu-nav">
    <%= link_to 'Search', search_path %>
  </div>
</div>