<h1>Ludus</h1>

<p>
  <%= link_to "Games", games_path %><br />
  <%= link_to "Publishers", publishers_path %><br />
  <%= link_to "Genres", genres_path %><br />
  <%= link_to "Platforms", platforms_path %><br />
  <%= link_to "ESRB Ratings", esrb_ratings_path %><br />
</p>
